[submodule "stacks/litellm"]
	path = stacks/ai-services/litellm
	url = https://github.com/zyrakq/litellm-stack.git
[submodule "stacks/open-webui"]
	path = stacks/ai-services/open-webui
	url = https://github.com/zyrakq/open-webui-stack.git
[submodule "stacks/syncstorage"]
	path = stacks/self-hosted-privacy/syncstorage
	url = https://github.com/zyrakq/syncstorage-stack.git
[submodule "stacks/n8n"]
	path = stacks/ai-services/n8n
	url = https://github.com/zyrakq/n8n-stack.git
[submodule "stacks/ai-services/ollama"]
	path = stacks/ai-services/ollama
	url = https://github.com/zyrakq/ollama-stack.git
[submodule "stacks/media-streaming/sunshine"]
	path = stacks/media-streaming/sunshine
	url = https://github.com/zyrakq/sunshine-stack.git
[submodule "stacks/self-hosted-privacy/invidious"]
	path = stacks/self-hosted-privacy/invidious
	url = https://github.com/zyrakq/invidious-stack.git
[submodule "stacks/network-privacy/nginx-proxy-manager"]
	path = stacks/network-privacy/nginx-proxy-manager
	url = https://github.com/zyrakq/nginx-proxy-manager-stack.git
[submodule "stacks/network-privacy/pi-hole"]
	path = stacks/network-privacy/pi-hole
	url = https://github.com/zyrakq/pi-hole-stack.git
[submodule "stacks/remote-access/webtop-desktop"]
	path = stacks/remote-access/webtop-desktop
	url = https://github.com/zyrakq/webtop-desktop-stack.git
[submodule "stacks/network-privacy/dnsmasq"]
	path = stacks/network-privacy/dnsmasq
	url = https://github.com/zyrakq/dnsmasq-stack.git
[submodule "stacks/blockchain-nodes/bitcoin-core-stack"]
	path = stacks/blockchain-nodes/bitcoin-core-stack
	url = https://github.com/zyrakq/bitcoin-core-stack.git
[submodule "stacks/self-hosted-privacy/hledger-web"]
	path = stacks/self-hosted-privacy/hledger-web
	url = https://github.com/zyrakq/hledger-web-stack.git
[submodule "stacks/network-privacy/network-client"]
	path = stacks/network-privacy/network-client
	url = https://github.com/zyrakq/network-client-stack.git
[submodule "stacks/network-privacy/vpn-server"]
	path = stacks/network-privacy/vpn-server
	url = https://github.com/zyrakq/vpn-server-stack.git
[submodule "stacks/development-tools/bagetter"]
	path = stacks/development-tools/bagetter
	url = https://github.com/zyrakq/bagetter-stack.git
[submodule "stacks/monitoring/elasticsearch"]
	path = stacks/monitoring/elasticsearch
	url = https://github.com/zyrakq/elasticsearch-stack.git
[submodule "stacks/monitoring/kibana"]
	path = stacks/monitoring/kibana
	url = https://github.com/zyrakq/kibana-stack.git
[submodule "stacks/ssl-automation/letsencrypt-manager"]
	path = stacks/ssl-automation/letsencrypt-manager
	url = https://github.com/zyrakq/letsencrypt-manager-stack.git
[submodule "stacks/identity-management/keycloak"]
	path = stacks/identity-management/keycloak
	url = https://github.com/zyrakq/keycloak-stack.git
[submodule "stacks/ssl-automation/step-ca-manager"]
	path = stacks/ssl-automation/step-ca-manager
	url = https://github.com/zyrakq/step-ca-manager-stack.git
